<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Library</title>
</head>
<body>
<form action="#" th:action="@{/main/edit/createbook}" th:object="${book}" method="post">
  <input type="number" th:field="*{id}" id="id" hidden>
  <label for="title">Title</label>
  <input type="text" th:field="*{title}" id="title" placeholder="Title">
  <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
  <label for="pages">Number of pages</label>
  <input type="number" th:field="*{pages}" id="pages" placeholder="Number of pages">
  <span th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}"></span>
  <label for="author">Author</label>
  <select th:field="*{author}" id="author">
    <option th:each="a : ${authors}" th:value="${a.id}" th:text="${a.lastName}">
    </option>
  </select>
  <label for="author">Genre</label>
  <select th:field="*{genre}" id="genre">
    <option th:each="g : ${genres}" th:value="${g.id}" th:text="${g.name}">
    </option>
  </select>
  <label for="library">Library</label>
  <select th:field="*{library}" id="library">
    <option th:each="l : ${libraries}" th:value="${l.id}" th:text="${l.name}">
    </option>
  </select>
  <input type="submit" value="Add Book">
</form>
</body>
</html>