<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Library</title>
    <style type = "text/css">
        body {
            color: #0c010c;
            background-color: #e2e39b;
            font-size: 15pt;
        }

    </style>
</head>
<body>
<form action="#" th:action="@{/main/createloan}" th:object="${loan}" method="post">
    <label for="book">Book</label>
    <select th:field="*{book}" id="book">
        <option th:each="b : ${books}" th:value="${b.id}" th:text="${b.title}">
        </option>
    </select>
    <label for="reader">Reader</label>
    <select th:field="*{reader}" id="reader">
        <option th:each="r : ${readers}" th:value="${r.id}" th:text="${r.lastName}">
        </option>
    </select>
    <input type="submit" value="Loan Book">
</form>
</body>
</html>