<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Demo Library</title>
  <style type = "text/css">
    body {
      color: #0c010c;
      background-color: #f3c1a0;
      font-size: 15pt;
    }
    table, th, td {
      border: 1px solid antiquewhite;
    }
    td {
      padding: 15px;
    }
    h2 {
      color: #d31ecb;
      background-color: #e2e39b;
      font-size: 25pt;
      font-style: italic;
    }
  </style>
</head>
<body>
<div sec:authorize="hasRole('ADMIN')" > Has Authority ADMIN </div>
<p><a href="/">Main Page</a></p>
<div th:switch="${authors}">
  <h2 th:case="null">No authors yet!</h2>
  <div th:case="*">
    <h2 align="center">Authors</h2>
    <table align="center">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birth Year</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="author : ${authors}">
        <td th:text="${author.firstName}"></td>
        <td th:text="${author.lastName}"></td>
        <td th:text="${author.birthYear}"></td>
        <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/main/edit/author/{id}(id=${author.id})}">Edit</a></td>
        <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/main/delete/author/{id}(id=${author.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/main/edit/add-author">Add a new author</a></p>
</div>
</body>
</html>