<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Demo Library</title>
    <style type = "text/css">
        body {
            color: #0c010c;
            background-color: #f3c1a0;
            font-size: 15pt;
        }
        table, th, td {
            border: 1px solid antiquewhite;
        }
        td {
            padding: 15px;
        }
        h2 {
            color: #d31ecb;
            background-color: #e2e39b;
            font-size: 25pt;
            font-style: italic;
        }
    </style>
</head>
<body>
<p><a href="/">Main Page</a></p>
<div th:switch="${books}">
    <h2 th:case="null">No books yet!</h2>
    <div th:case="*">
        <h2 align="center">Books</h2>
        <table align="center">
            <thead>
            <tr>
                <th>Title</th>
                <th>Pages</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Library</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.pages}"></td>
                <td th:text="${book.author.lastName}"></td>
                <td th:text="${book.genre.name}"></td>
                <td th:text="${book.library.name}"></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/main/edit/book/{id}(id=${book.id})}">Edit</a></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/main/delete/book/{id}(id=${book.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div >
    <p><a href="/main/edit/add-book">Add a new book</a></p>
</div>
</body>
</html>