<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Demo Library</title>
    <style type = "text/css">
        body {
            color: #0c010c;
            background-color: #f3c1a0;
            font-size: 15pt;
        }
        table, th, td {
            border: 1px solid antiquewhite;
        }
        td {
            padding: 15px;
        }
        h2 {
            color: #d31ecb;
            background-color: #e2e39b;
            font-size: 25pt;
            font-style: italic;
        }
    </style>
</head>
<body>
<p><a href="/">Main Page</a></p>
<div th:switch="${libraries}">
    <h2 th:case="null">No libraries yet!</h2>
    <div th:case="*">
        <h2 align="center">Libraries</h2>
        <table align="center">
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Is Public</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="library : ${libraries}">
                <td th:text="${library.name}"></td>
                <td th:text="${library.address}"></td>
                <td th:text="${library.isPublic}"></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/main/edit/library/{id}(id=${library.id})}">Edit</a></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/main/delete/library/{id}(id=${library.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/main/edit/add-library">Add a new library</a></p>
</div>
</body>
</html>