<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Demo Library</title>
    <style type = "text/css">
        body {
            color: #0c010c;
            background-color: #f3c1a0;
            font-size: 15pt;
        }
        table, th, td {
            border: 1px solid antiquewhite;
        }
        td {
            padding: 15px;
        }
        h2 {
            color: #d31ecb;
            background-color: #e2e39b;
            font-size: 25pt;
            font-style: italic;
        }
    </style>
</head>
<body>
<p><a href="/">Main Page</a></p>
<div th:switch="${readers}">
    <h2 th:case="null">No readers yet!</h2>
    <div th:case="*">
        <h2 align="center">Readers</h2>
        <table align="center">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Books</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reader : ${readers}">
                <td th:text="${reader.firstName}"></td>
                <td th:text="${reader.lastName}"></td>
                <td th:text="${reader.age}"></td>
                <td th:text="${reader.email}"></td>
                <td th:each="book: ${reader.books}">
                    <p th:text="${book.title}"></p>
                </td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/main/edit/reader/{id}(id=${reader.id})}">Edit</a></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/main/delete/reader/{id}(id=${reader.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/main/edit/add-reader">Add a new reader</a></p>
</div>
</body>
</html>